.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}
button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled].rbc-btn {
  cursor: not-allowed;
}
button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.rbc-calendar {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit;
}
.rbc-abs-full,
.rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.rbc-ellipsis,
.rbc-event-label,
.rbc-row-segment .rbc-event-content,
.rbc-show-more {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rbc-rtl {
  direction: rtl;
}
.rbc-off-range {
  color: #b3b3b3;
}
.rbc-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 90%;
  min-height: 0;
}
.rbc-header > a,
.rbc-header > a:active,
.rbc-header > a:visited {
  color: inherit;
  text-decoration: none;
}
.rbc-toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}
.rbc-toolbar .rbc-toolbar-label {
  width: 100%;
  padding: 0 10px;
  text-align: center;
}
.rbc-toolbar button {
  color: #373a3c;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  background-image: none;
  border: 1px solid #cccccc;
  padding: .375rem 1rem;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
}
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background-color: #e6e6e6;
  border-color: #adadad;
}
.rbc-toolbar button:active:hover,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:focus {
  color: #373a3c;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.rbc-toolbar button:focus {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.rbc-toolbar button:hover {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.rbc-btn-group {
  display: inline-block;
  white-space: nowrap;
}
.rbc-btn-group > button:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rbc-btn-group > button:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rbc-rtl .rbc-btn-group > button:first-child:not(:last-child) {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rbc-rtl .rbc-btn-group > button:last-child:not(:first-child) {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rbc-btn-group > button:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.rbc-btn-group button + button {
  margin-left: -1px;
}
.rbc-rtl .rbc-btn-group button + button {
  margin-left: 0;
  margin-right: -1px;
}
.rbc-btn-group + .rbc-btn-group,
.rbc-btn-group + button {
  margin-left: 10px;
}
.rbc-event {
  cursor: pointer;
  padding: 2px 5px;
  background-color: #3174ad;
  border-radius: 5px;
  color: #ffffff;
}
.rbc-event.rbc-selected {
  background-color: #265985;
}
.rbc-event-label {
  font-size: 80%;
}
.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5);
}
.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rbc-row {
  display: flex;
  flex-direction: row;
}
.rbc-row-segment {
  padding: 0 1px 1px 1px;
}
.rbc-selected-cell {
  background-color: #000000;
  color: #ffffff;
  opacity: 0.05;
}
.rbc-show-more {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 4;
  font-weight: bold;
  font-size: 85%;
  height: auto;
  line-height: normal;
  white-space: nowrap;
}
.rbc-month-view {
  position: relative;
  border: 1px solid #dddddd;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  height: 100%;
}
.rbc-month-view .rbc-header {
  border-bottom: 1px solid #dddddd;
}
.rbc-month-view .rbc-header + .rbc-header {
  border-left: 1px solid #dddddd;
}
.rbc-rtl .rbc-month-view .rbc-header + .rbc-header {
  border-left-width: 0;
  border-right: 1px solid #dddddd;
}
.rbc-month-header {
  display: flex;
  flex-direction: row;
}
.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 0;
  overflow: hidden;
  height: 100%;
}
.rbc-month-row + .rbc-month-row {
  border-top: 1px solid #dddddd;
}
.rbc-date-cell {
  padding-right: 5px;
  text-align: right;
}
.rbc-date-cell.rbc-now {
  font-weight: bold;
}
.rbc-date-cell > a,
.rbc-date-cell > a:active,
.rbc-date-cell > a:visited {
  color: inherit;
  text-decoration: none;
}
.rbc-row-content {
  position: relative;
  z-index: 4;
}
.rbc-row-bg {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  overflow: hidden;
}
.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid #dddddd;
}
.rbc-rtl .rbc-day-bg + .rbc-day-bg {
  border-left-width: 0;
  border-right: 1px solid #dddddd;
}
.rbc-overlay {
  position: absolute;
  z-index: 5;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px;
}
.rbc-overlay > * + * {
  margin-top: 1px;
}
.rbc-overlay-header {
  border-bottom: 1px solid #e5e5e5;
  margin: -10px -10px 5px -10px;
  padding: 2px 10px;
}
.rbc-agenda-view {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  overflow: auto;
}
.rbc-agenda-view table {
  width: 100%;
  border: 1px solid #dddddd;
}
.rbc-agenda-view table tbody > tr > td {
  padding: 5px 10px;
  vertical-align: top;
}
.rbc-agenda-view table .rbc-agenda-time-cell {
  padding-left: 15px;
  padding-right: 15px;
  text-transform: lowercase;
}
.rbc-agenda-view table tbody > tr > td + td {
  border-left: 1px solid #dddddd;
}
.rbc-rtl .rbc-agenda-view table tbody > tr > td + td {
  border-left-width: 0;
  border-right: 1px solid #dddddd;
}
.rbc-agenda-view table tbody > tr + tr {
  border-top: 1px solid #dddddd;
}
.rbc-agenda-view table thead > tr > th {
  padding: 3px 5px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}
.rbc-rtl .rbc-agenda-view table thead > tr > th {
  text-align: right;
}
.rbc-agenda-time-cell {
  text-transform: lowercase;
}
.rbc-agenda-time-cell .rbc-continues-after:after {
  content: ' »';
}
.rbc-agenda-time-cell .rbc-continues-prior:before {
  content: '« ';
}
.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap;
}
.rbc-agenda-event-cell {
  width: 100%;
}
.rbc-time-column {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.rbc-time-column .rbc-timeslot-group {
  flex: 1;
}
.rbc-timeslot-group {
  border-bottom: 1px solid #dddddd;
  min-height: 40px;
  display: flex;
  flex-flow: column nowrap;
}
.rbc-time-gutter,
.rbc-header-gutter {
  flex: none;
}
.rbc-label {
  padding: 0 5px;
}
.rbc-day-slot {
  position: relative;
}
.rbc-day-slot .rbc-event {
  border: 1px solid #265985;
  display: flex;
  max-height: 100%;
  flex-flow: column wrap;
  align-items: flex-start;
  overflow: hidden;
}
.rbc-day-slot .rbc-event-label {
  flex: none;
  padding-right: 5px;
  width: auto;
}
.rbc-day-slot .rbc-event-content {
  width: 100%;
  flex: 1 1 0;
  word-wrap: break-word;
  line-height: 1;
  height: 100%;
  min-height: 1em;
}
.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #f7f7f7;
}
.rbc-time-slot {
  flex: 1 0 0;
}
.rbc-time-slot.rbc-now {
  font-weight: bold;
}
.rbc-day-header {
  text-align: center;
}
.rbc-day-slot .rbc-event {
  position: absolute;
}
.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  cursor: default;
  background-color: #000000;
  color: #ffffff;
  opacity: .5;
  font-size: 75%;
  padding: 3px;
}
.rbc-time-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  border: 1px solid #dddddd;
  min-height: 0;
}
.rbc-time-view .rbc-time-gutter {
  white-space: nowrap;
}
.rbc-time-view .rbc-allday-cell {
  width: 100%;
  position: relative;
}
.rbc-time-view .rbc-row {
  min-height: 20px;
}
.rbc-time-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
}
.rbc-time-header.rbc-overflowing {
  border-right: 1px solid #dddddd;
}
.rbc-rtl .rbc-time-header.rbc-overflowing {
  border-right-width: 0;
  border-left: 1px solid #dddddd;
}
.rbc-time-header > .rbc-row > * + * {
  border-left: 1px solid #dddddd;
}
.rbc-rtl .rbc-time-header > .rbc-row > * + * {
  border-left-width: 0;
  border-right: 1px solid #dddddd;
}
.rbc-time-header > .rbc-row:first-child {
  border-bottom: 1px solid #dddddd;
}
.rbc-time-header .rbc-gutter-cell {
  flex: none;
}
.rbc-time-header > .rbc-gutter-cell + * {
  width: 100%;
}
.rbc-time-content {
  display: flex;
  flex: 1 0 0%;
  align-items: flex-start;
  width: 100%;
  border-top: 2px solid #dddddd;
  overflow-y: auto;
}
.rbc-time-content > .rbc-time-gutter {
  flex: none;
}
.rbc-time-content > * + * > * {
  border-left: 1px solid #dddddd;
}
.rbc-rtl .rbc-time-content > * + * > * {
  border-left-width: 0;
  border-right: 1px solid #dddddd;
}
.rbc-time-content > .rbc-day-slot {
  width: 100%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


.card-content {
  display: block;
  overflow: auto;

}

#house-id {
  text-align: center;
}

@import "compass/css3";

section.chat-container {
  width: 100%;
}

section div {
	margin-bottom: 1px;
}

.clear {
  clear: both
}
.from-me p {
  width: 100%;
}

.from-me {
	position:relative;
	padding:10px 20px;
	color: black;
	background:#b3e5fc;
  border: 1px solid #29b6f6;
	border-radius:25px;
	float: right;
  margin-right: 5px;
}

.from-them {
	position:relative;
	padding:10px 20px;
	background:#E5E5EA;
  border: 1px solid #bdbdbd;
	border-radius:25px;
	color: black;
  float: left;
  margin-left: 5px;
}

div.message-div-right {
  margin-left: 80%;
}

div.login-form {
  background-color: white;
  padding: 2px;
  border-top: 1px solid grey;
}

input[type="text"].message-input {
  padding: 10px;
  height: 1rem;
}

input.message-input {
  border-bottom: 0px;
  box-shadow: 0px;
}

input[type="text"].message-input:focus {
  border-bottom: 0px;
  box-shadow: 0 0px;
}

#event-start-date {
  width: 95%;
}
#event-name {
  width: 95%;
}

#bill-input-description {
  width: 60%;
}

#bill-input-amount {
  width: 25%;
}

#bill-input-calendar {
  width: 92%;
}

#datepicker {
  width: 92%;
}

.calendar-div {
  height: 1075px;
}

/*div.urgent-bills {
  display: inline-block;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: #f5f5f5;
  padding-top: 65px;
  margin-left: 100px;
}*/

div.urgent-bills {
  height: 100px;
}

li.list-item {
  width: 100%;
}

.flex-container {
  flex-direction: column;
  align-content: flex-start;
}

.list-item {
  width: 32%;
}

div.top-row-dash {
  height: 300px;
  overflow: hidden;
}

div.bottom-row-dash {
  height: 175px;
  overflow: hidden;
}

div.list-form {
  width: 95%;
}

#vex-input {
  width: 95%;
}


footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

div.message-container {
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
  max-height: 450px;
  overflow: auto;
  margin-top: 3%;
}

div.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.tag {
  width: 35%;
}

div.login-form {
  display: flex;
}

div.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.dashboard-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 80%;
  margin: 0 auto;
}

span.nav-icon {
  font-size: 14px;
}


li.nav-item {
  display: flex;
  align-items: center;
}

ul.nav-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

nav.nav-container {
  height: 1%;
  display: flex;
  justify-content: flex-end;
  font-size: 8px;
}

div.dashboard-messages {
  padding: 10px;
  width: 55%;
  height: 55%;
  background-color: #f9f9f9;
  border: 1px solid #bdbdbd;
}

div.dash-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.dash-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}

div.card-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 3px solid #e0e0e0;
  height: 45px;
  align-items: center;
}

.from-them p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.from-me p {
  margin-top: 0px;
  margin-bottom: 0px;
}

span.chat-header {
  height: 5%;
  padding-left: 1%;
}

div.full-messages {
  display: flex;
  justify-content: center;
}

div.compose-message-wrap {
  border: 3px solid #e0e0e0;
}

div.events-container {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 97.5%;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #bdbdbd;
  margin: 0 auto;
}

div.dashboard-bills {
  width: 100%;
  background-color: #f9f9f9;
  height: 55%;
  padding: 10px;
  border: 1px solid #bdbdbd;
}

div.bills {
  width: 40%;
  height: 100%;
}

strong.dashboard-header {
  margin-left: 1%;
}

.dashboard-amount-due {
  text-align: center;
  padding-top: 12%;
}

div.bill-content {
  width: 800px;
}

span.event-header {
  height: 5%;
  padding: 10px;
}

div.signup-form {
  display: flex;
  flex-direction: column;
}

div.signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

form.signup-form-box {
  width: 25%;
}

div.movein-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

div.list-wrap {
  margin: 0 auto;
}
