/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.card-content {
  display: block;
  overflow: auto;
}

#house-id {
  text-align: center;
}

@import "compass/css3";

section {
	margin: 50px auto;
  width: 100%;
}

section div {
	margin-bottom: 1px;
}

.clear {
  clear: both
}
.from-me p {
  width: 100%;
}
.from-me {
	position:relative;
	padding:10px 20px;
	color:white;
	background:#0B93F6;
	border-radius:25px;
	float: right;
}

.from-them {
	position:relative;
	padding:10px 20px;
	background:#E5E5EA;
	border-radius:25px;
	color: black;
  float: left;
}

div.message-div-right {
  margin-left: 80%;
}
