/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require styles
 *= require_self
 */

.card-content {
  display: block;
  overflow: auto;

}

#house-id {
  text-align: center;
}

@import "compass/css3";

section.chat-container {
	margin: 50px auto;
  width: 100%;
}

section div {
	margin-bottom: 1px;
}

.clear {
  clear: both
}
.from-me p {
  width: 100%;
}
.from-me {
	position:relative;
	padding:10px 20px;
	color:white;
	background:#0B93F6;
	border-radius:25px;
	float: right;
}

.from-them {
	position:relative;
	padding:10px 20px;
	background:#E5E5EA;
	border-radius:25px;
	color: black;
  float: left;
}

div.message-div-right {
  margin-left: 80%;
}

div.login-form {
  background-color: white;
  padding: 2px;
  border-top: 1px solid grey;
}

input[type="text"].message-input {
  padding: 10px;
  height: 1rem;
}

input.message-input {
  border-bottom: 0px;
  box-shadow: 0px;
}

input[type="text"].message-input:focus {
  border-bottom: 0px;
  box-shadow: 0 0px;
}

#event-start-date {
  width: 95%;
}
#event-name {
  width: 95%;
}

.calendar-div {
  height: 1075px;
}
