/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require styles
 *= require_self
 */

.card-content {
  display: block;
  overflow: auto;

}

#house-id {
  text-align: center;
}

@import "compass/css3";

section.chat-container {
  width: 100%;
}

section div {
	margin-bottom: 1px;
}

.clear {
  clear: both
}
.from-me p {
  width: 100%;
}

.from-me {
	position:relative;
	padding:10px 20px;
	color: black;
	background:#b3e5fc;
  border: 1px solid #29b6f6;
	border-radius:25px;
	float: right;
  margin-right: 5px;
}

.from-them {
	position:relative;
	padding:10px 20px;
	background:#E5E5EA;
  border: 1px solid #bdbdbd;
	border-radius:25px;
	color: black;
  float: left;
  margin-left: 5px;
}

div.message-div-right {
  margin-left: 80%;
}

div.login-form {
  background-color: white;
  padding: 2px;
  border-top: 1px solid grey;
}

input[type="text"].message-input {
  padding: 10px;
  height: 1rem;
}

input.message-input {
  border-bottom: 0px;
  box-shadow: 0px;
}

input[type="text"].message-input:focus {
  border-bottom: 0px;
  box-shadow: 0 0px;
}

#event-start-date {
  width: 95%;
}
#event-name {
  width: 95%;
}

#bill-input-description {
  width: 60%;
}

#bill-input-amount {
  width: 25%;
}

#bill-input-calendar {
  width: 92%;
}

#datepicker {
  width: 92%;
}

.calendar-div {
  height: 1075px;
}

/*div.urgent-bills {
  display: inline-block;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: #f5f5f5;
  padding-top: 65px;
  margin-left: 100px;
}*/

div.urgent-bills {
  height: 100px;
}

li.list-item {
  width: 100%;
}

.flex-container {
  flex-direction: column;
  align-content: flex-start;
}

.list-item {
  width: 32%;
}

div.top-row-dash {
  height: 300px;
  overflow: hidden;
}

div.bottom-row-dash {
  height: 175px;
  overflow: hidden;
}

div.list-form {
  width: 95%;
}

#vex-input {
  width: 95%;
}


footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

div.message-container {
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
  max-height: 450px;
  overflow: auto;
  margin-top: 3%;
}

div.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.tag {
  width: 35%;
}

div.login-form {
  display: flex;
}

div.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.dashboard-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 80%;
  margin: 0 auto;
}

span.nav-icon {
  font-size: 14px;
}


li.nav-item {
  display: flex;
  align-items: center;
}

ul.nav-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

nav.nav-container {
  height: 1%;
  display: flex;
  justify-content: flex-end;
  font-size: 8px;
}

div.dashboard-messages {
  padding: 10px;
  width: 55%;
  height: 55%;
  background-color: #f9f9f9;
  border: 1px solid #bdbdbd;
}

div.dash-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.dash-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}

div.card-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 3px solid #e0e0e0;
  height: 45px;
  align-items: center;
}

.from-them p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.from-me p {
  margin-top: 0px;
  margin-bottom: 0px;
}

span.chat-header {
  height: 5%;
  padding-left: 1%;
}

div.full-messages {
  display: flex;
  justify-content: center;
}

div.compose-message-wrap {
  border: 3px solid #e0e0e0;
}

div.events-container {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 97.5%;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #bdbdbd;
  margin: 0 auto;
}

div.dashboard-bills {
  width: 100%;
  background-color: #f9f9f9;
  height: 55%;
  padding: 10px;
  border: 1px solid #bdbdbd;
}

div.bills {
  width: 40%;
  height: 100%;
}

strong.dashboard-header {
  margin-left: 1%;
}

.dashboard-amount-due {
  text-align: center;
  padding-top: 12%;
}

div.bill-content {
  width: 800px;
}

span.event-header {
  height: 5%;
  padding: 10px;
}

div.signup-form {
  display: flex;
  flex-direction: column;
}

div.signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

form.signup-form-box {
  width: 25%;
}

div.movein-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

div.list-wrap {
  margin: 0 auto;
}
